{% extends "admin/layout/layout.html" %}
{% block footer %}
	<script src="/javascripts/jqueryvalidate/jquery.validate.js"></script>
	<script src="/javascripts/AdminLTE/validate.js" type="text/javascript"></script>
{% endblock %}
{% block heading %}
           <section class="content-header">
                     <h1>Change Password</h1>
                     <ol class="breadcrumb">
                                <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
                                <li class="active">Change Password</li>
                     </ol>
           </section>
{% endblock %}
{% block content %}
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="box box-info">
			<div class="box-header">
				<h3 class="box-title">Change password</h3>
			</div><!-- /.box-header -->
			<!-- form start -->
			<form method="post" id="reset">
				<div class="box-body">
					{{resetPasswordForm.toHTML() | safe}}
				</div>
				<div class="box-footer">
					<input type="submit" class="btn btn-primary" value="Change Password">
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-2"></div>
{% endblock %}