{% extends "admin/layout/layout.html" %}
{% block footer %}
	<script src="/javascripts/jqueryvalidate/jquery.validate.js"></script>
	<script src="/javascripts/validate.js"></script>
{% endblock %}
{% block content %}
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="box box-info">
			<div class="box-header">
				<h3 class="box-title">Change password</h3>
			</div><!-- /.box-header -->
			<!-- form start -->
			<form method="post" id="reset">
				<div class="box-body">
					{{resetPasswordForm.toHTML() | safe}}
				</div>
				<div class="box-footer">
					<input type="submit" class="btn btn-primary" value="Change Password">
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-2"></div>
{% endblock %}